# Twitter Sentiment Analysis

#### Create the training dataset

In [1]:
# Import the libraries you need for loading and exploring dataset
import pandas as pd
import os
import numpy as np
from __future__ import print_function, division

In [2]:
neg_df = pd.read_table("C:\\Users\\chidi bede\\Documents\\Data Science Career\\Datasets\\Text classification datasets\\aclImdb\\train\\neg\\0_3.txt", names=["Text"]    )

In [3]:
neg_df

                                                Text
0  Story of a man who has unnatural feelings for ...

In [4]:
neg_df["Polarity"] = "neg"

In [5]:
neg_df

                                                Text Polarity
0  Story of a man who has unnatural feelings for ...      neg

In [6]:
files = os.listdir("C:\\Users\\chidi bede\\Documents\\Data Science Career\\Datasets\\Text classification datasets\\aclImdb\\train\\neg")

In [7]:
len(files)

12500

In [8]:
url = "C:\\Users\\chidi bede\\Documents\\Data Science Career\\Datasets\\Text classification datasets\\aclImdb\\train\\neg"
for file in files:
    path = url + "\\"+file
    neg_DF = pd.read_table(path, names=["Text"])
    neg_DF["Polarity"] = "neg"
    neg_df = pd.concat([neg_df, neg_DF], axis=0)

In [12]:
neg_df.shape

(12501, 2)

In [13]:
neg_df.head()

                                                Text Polarity
0  Story of a man who has unnatural feelings for ...      neg
0  Story of a man who has unnatural feelings for ...      neg
0  Airport '77 starts as a brand new luxury 747 p...      neg
0  This film lacked something I couldn't put my f...      neg
0  Sorry everyone,,, I know this is supposed to b...      neg

In [20]:
url = "C:\\Users\\chidi bede\\Documents\\Data Science Career\\Datasets\\Text classification datasets\\aclImdb\\train\\pos"
files = os.listdir("C:\\Users\\chidi bede\\Documents\\Data Science Career\\Datasets\\Text classification datasets\\aclImdb\\train\\pos")
for file in files:
    path = url + "\\"+file
    pos_DF = pd.read_table(path, names=["Text"])
    pos_DF["Polarity"] = "pos"
    neg_df = pd.concat([neg_df, pos_DF], axis=0)

In [21]:
neg_df.shape

(25001, 2)

In [23]:
neg_df = neg_df.drop_duplicates(keep="first")

In [24]:
neg_df.shape

(24904, 2)

In [25]:
neg_df.Polarity.value_counts()

pos    12472
neg    12432
Name: Polarity, dtype: int64

In [26]:
url = "C:\\Users\\chidi bede\\Documents\\Data Science Career\\Datasets\\Text classification datasets\\aclImdb\\test\\pos"
files = os.listdir("C:\\Users\\chidi bede\\Documents\\Data Science Career\\Datasets\\Text classification datasets\\aclImdb\\test\\pos")
for file in files:
    path = url + "\\"+file
    pos_DF = pd.read_table(path, names=["Text"])
    pos_DF["Polarity"] = "pos"
    neg_df = pd.concat([neg_df, pos_DF], axis=0)

In [27]:
url = "C:\\Users\\chidi bede\\Documents\\Data Science Career\\Datasets\\Text classification datasets\\aclImdb\\test\\neg"
files = os.listdir("C:\\Users\\chidi bede\\Documents\\Data Science Career\\Datasets\\Text classification datasets\\aclImdb\\test\\neg")
for file in files:
    path = url + "\\"+file
    neg_DF = pd.read_table(path, names=["Text"])
    neg_DF["Polarity"] = "neg"
    neg_df = pd.concat([neg_df, neg_DF], axis=0)

In [28]:
neg_df.Polarity.value_counts()

pos    24972
neg    24932
Name: Polarity, dtype: int64

In [30]:
url = "C:\\Users\\chidi bede\\Documents\\Data Science Career\\Datasets\\Text classification datasets\\aclImdb\\train\\unsup"
files = os.listdir("C:\\Users\\chidi bede\\Documents\\Data Science Career\\Datasets\\Text classification datasets\\aclImdb\\train\\unsup")
i  = 0
for file in files:
    while i < 24972:
        path = url + "\\"+file
        neu_DF = pd.read_table(path, names=["Text"])
        neu_DF["Polarity"] = "neut"
        neg_df = pd.concat([neg_df, neu_DF], axis=0)
        i = i + 1

In [31]:
neg_df.Polarity.value_counts()

pos     24972
neut    24972
neg     24932
Name: Polarity, dtype: int64

In [32]:
neg_df.shape

(74876, 2)

In [49]:
neg_df.reset_index(drop=True, inplace=True)

In [50]:
neg_df.head()

                                                Text Polarity
0  Story of a man who has unnatural feelings for ...      neg
1  Airport '77 starts as a brand new luxury 747 p...      neg
2  This film lacked something I couldn't put my f...      neg
3  Sorry everyone,,, I know this is supposed to b...      neg
4  When I was little my parents took me along to ...      neg

In [54]:
neg_df = neg_df.loc[0:49904, ["Text", "Polarity"]]

In [55]:
neg_df.shape

(49905, 2)

In [56]:
movie_df.Polarity.value_counts()

pos     24972
neg     24932
neut        1
Name: Polarity, dtype: int64

In [57]:
url = "C:\\Users\\chidi bede\\Documents\\Data Science Career\\Datasets\\Text classification datasets\\aclImdb\\train\\unsup"
files = os.listdir("C:\\Users\\chidi bede\\Documents\\Data Science Career\\Datasets\\Text classification datasets\\aclImdb\\train\\unsup")
for file in files:
    path = url + "\\"+file
    neu_DF = pd.read_table(path, names=["Text"])
    neu_DF["Polarity"] = "neut"
    neg_df = pd.concat([neg_df, neu_DF], axis=0)

In [62]:
neg_df.shape

(99905, 2)

In [78]:
tweet = "The caucasian fool"
blob = textblob.TextBlob(tweet)

In [79]:
blob.sentiment

Sentiment(polarity=0.0, subjectivity=0.0)

In [80]:
import tweepy

In [81]:
neg_df.shape

(99905, 2)

In [83]:
neg_df.Polarity.value_counts()

neut    50001
pos     24972
neg     24932
Name: Polarity, dtype: int64

In [84]:
# Load the twitter data
twitter_df = pd.read_csv("C:\Users\chidi bede\Documents\Data Science Career\Python\Python Notebooks\Practice\Text mining\Twitter Sentiment analysis\Cleaned_twitter_Data2.csv")

In [85]:
twitter_df.shape

(1600000, 4)

In [86]:
twitter_df.head()

,Unnamed: 0,Text,Label,cleaned_text
0,0,@gingeriswriting I just laughed when I read ab...,0,just laughed when read about your double injur...
1,1,buying my mac products... how the hell did it ...,0,buying products hell must remove some items
2,2,Twitter's a little bit useless without a fancy...,0,Twitter little useless without fancy shmancy p...
3,3,My iPod died it was washing down the gutter s...,0,iPod died washing down gutter fished thought g...
4,4,fort lauderdale beach... here I come!,1,fort lauderdale beach here come

In [88]:
twitter_df = twitter_df.loc[:, ["cleaned_text", "Label"]]

In [89]:
twitter_df.columns = ["Text", "Polarity"]

In [90]:
twitter_df.head()

                                                Text  Polarity
0  just laughed when read about your double injur...         0
1        buying products hell must remove some items         0
2  Twitter little useless without fancy shmancy p...         0
3  iPod died washing down gutter fished thought g...         0
4                    fort lauderdale beach here come         1

In [199]:
# take 25000 negatives
twitter_df2 = twitter_df[twitter_df.Polarity==0].head(12568)

In [200]:
twitter_df3 = twitter_df[twitter_df.Polarity==0].tail(12500)

In [201]:
twitter_df3a = twitter_df[twitter_df.Polarity==0].loc[95000:96043, ["Text","Polarity"]]

In [202]:
twitter_df4 = twitter_df[twitter_df.Polarity==1].tail(12528)
twitter_df5 = twitter_df[twitter_df.Polarity==1].head(12500)
twitter_df3a = twitter_df[twitter_df.Polarity==1].loc[95000:96043, ["Text","Polarity"]]

In [203]:
twitter_DF = pd.concat([twitter_df2, twitter_df3, twitter_df4, twitter_df5,twitter_df3a,twitter_df3a])

In [204]:
# Reassign neg_df
neg_df.reset_index(drop=True, inplace=True)

In [205]:
neg_df.tail()

                                                    Text Polarity
99900  Delightfully awful! Made by David Giancola, a ...     neut
99901  Watching Time Chasers, it obvious that it was ...     neut
99902  At the beginning we can see members of Troma t...     neut
99903  The movie was incredible, ever since I saw it ...     neut
99904  TCM came through by acquiring this wonderful, ...     neut

In [206]:
sentiment_df = neg_df.loc[:, ["Text","Polarity"]]

In [207]:
sentiment_df = pd.concat([sentiment_df, twitter_DF])

In [208]:
sentiment_df.reset_index(drop=True, inplace=True)

In [209]:
sentiment_df.head()

                                                Text Polarity
0  Story of a man who has unnatural feelings for ...      neg
1  Airport '77 starts as a brand new luxury 747 p...      neg
2  This film lacked something I couldn't put my f...      neg
3  Sorry everyone,,, I know this is supposed to b...      neg
4  When I was little my parents took me along to ...      neg

In [210]:
sentiment_df["Polarity"] = sentiment_df.Polarity.map({"neg": 0, "pos": 1, 0:0, 1:1, "neut":2})

In [211]:
sentiment_df

                                                     Text  Polarity
0       Story of a man who has unnatural feelings for ...         0
1       Airport '77 starts as a brand new luxury 747 p...         0
2       This film lacked something I couldn't put my f...         0
3       Sorry everyone,,, I know this is supposed to b...         0
4       When I was little my parents took me along to ...         0
5       It appears that many critics find the idea of ...         0
6       The second attempt by a New York intellectual ...         0
7       I don't know who to blame, the timid writers o...         0
8       This film is mediocre at best. Angie Harmon is...         0
9       The film is bad. There is no other way to say ...         0
10      This film is one giant pant load. Paul Schrade...         0
11      The plot for Descent, if it actually can be ca...         0
12      Plot is not worth discussion even if it hints ...         0
13      This film is about a male escort getting invol...         0
14      This movie must be in line for the most boring...         0
15      A worn-out plot of a man who takes the rap for...         0
16      I saw this movie at a drive-in in 1959. Until ...         0
17      Ghost of Dragstrip Hollow is a typical 1950's ...         0
18      Ghost of Dragstrip Hollow was one of the many ...         0
19      Ghost of Dragstrip Hollow appears to take plac...         0
20      The characters are unlikeable and the script i...         0
21      Kareena Kapoor in a bikini hmmmmmmmm.<br /><br...         0
22      I rented this on DVD and I kind of feel bad si...         0
23      Vijay Krishna Acharya's 'Tashan' is a over-hyp...         0
24      The worst movie I have seen since Tera Jadoo C...         0
25      Summer season is here when the choices in the ...         0
26      Shame on Yash Raj films and Aditya Chopra who ...         0
27      First lesson that some film makers (particular...         0
28      If this is a 2008 product from one of the bigg...         0
29      I had some expectation for the movie, since it...         0
...                                                   ...       ...
150979  will mixing mostly Deep House softer Electo le...         1
150980  Guess what everyone myspace addressis profile ...         1
150981                           said look aftermath site         1
150982   used jeans turned awesome Dark wash again Thanks         1
150983  Hello Check latest health video YouTube Should...         1
150984                     Good hope everything goes well         1
150985                       love color nails they pretty         1
150986                                     watching pints         1
150987                            better Tweeting Morning         1
150988  making headway those pesky freelance projects ...         1
150989  think would seem have more point more follower...         1
150990                             Wasn Drag Hell awesome         1
150991                    Home hurtling down Leslie least         1
150992  oooh sounds yummy chance take some pics please...         1
150993  Come mister tally tally corona daylight came g...         1
150994                                               good         1
150995  thanks much glad have productive loving happy ...         1
150996                             hoping warms soon come         1
150997  said that yesterday then decided that will tha...         1
150998  working well Congratulations your team Konti l...         1
150999               Absolutley scorching here fife lovin         1
151000  Glad liked WeboWord Would love have your stude...         1
151001                                   GUYS just minuts         1
151002  Thank much First hiccup months guess that pret...         1
151003                                               Fuck         1
151004                           charm school then blogtv         1
151005              Thanks think birthday poker when back         1
151006    just home nice seeing tonite everyone else nite         1
151007                         just road from Bentonville         1
151008                                              agree         1

[151009 rows x 2 columns]

In [212]:
sentiment_df.Polarity.value_counts()

1    51008
2    50001
0    50000
Name: Polarity, dtype: int64

In [213]:
sentiment_df["Polarity"] = sentiment_df.Polarity.map({0:-1, 1:1, 2:0})

In [214]:
sentiment_df.Polarity.value_counts()

 1    51008
 0    50001
-1    50000
Name: Polarity, dtype: int64

In [215]:
sentiment_df= sentiment_df.drop_duplicates(keep="first")

In [216]:
sentiment_df.Polarity.value_counts()

 0    49507
 1    49397
-1    48957
Name: Polarity, dtype: int64

In [219]:
from sklearn import utils

In [222]:
sentiment_df = utils.shuffle(sentiment_df).reset_index(drop=True)

In [226]:
sentiment_df.shape

(147861, 2)

In [232]:
sentiment_df["Text"] = sentiment_df.Text.str.replace(r"[^a-zA-Z]", " ")

In [236]:
sentiment_df.Text

0         New York police detective Mark Dixon  Dana And...
1                           just having linear algebra quiz
2         demanding something more than driver positions...
3         Righto Reading that have news afraid have chor...
4         In this Walt Disney produced comedy  a track c...
5         This movie is about an irresponsible young cou...
6         Much family comin over mothers Lots handle Jus...
7         Kill Me Later  has an interesting initial prem...
8         Okay I admit I do like silly movies Let s see ...
9                                  Begging laptop much work
10         br    br   I watched this movie just a little...
11          baby woke worse today than yesterday gonna long
12        I have seen this movie plenty of times and I g...
13        Under the Sand was a haunting  touching movie ...
14        they should make terrorists watch this video a...
15        I purchased this video on VCR tape in a good w...
16        Designed only to annoy  or amuse  any self res...
17        I ve recently watched this movie  in a lazy Su...
18                                          feel well today
19        This is a really great short from Hal Roach  T...
20        I ll never understand why when a studio like U...
21        This movie is the epitome of paradox  Whether ...
22        eating blueberry muffins trying sort buttons d...
23        Disgused as an Asian Horror   A Tale Of Two Si...
24        Dasgupta s Kaalpursh is easily one of the fine...
25        Most of the comments have been positive but I ...
26        The exploding zeppelins crashing down upon  Sk...
27        There s a reason this  undiscovered gem  remai...
28                 noticed dipper nicks face long time fair
29        Looking at the ratings you would assume this i...
                                ...
147831    I mistakenly kept myself awake late last night...
147832      Queen of the Damned    is one of the worst a...
147833    The first thing one notices about this film is...
147834    That more than Personally very good doing nothing
147835    This has to be one of the top overrated anime ...
147836    hottest ever Vienna continuity girl said colou...
147837    There is nothing worse than science fiction cr...
147838    In Illinois  while chasing a Djinn in an old b...
147839    Every possible clich   of bollywood is mechani...
147840    The Cameraman s Revenge is an unusual short no...
147841     br    br   If you re at all interested in pir...
147842    East meets West as Mifune and Bronson hunt for...
147843                           cool going test utube with
147844    This film describes the experiences of a coupl...
147845    After efforts have contracted anyway Being sic...
147846    Curious  seeing this after the smash hits of  ...
147847                    everybody finna ABOUT THEM APPLES
147848    Just saw this tonight at a seminar on digital ...
147849    I might have given it a higher rating had the ...
147850    Guns blasting  buildings exploding  cars crash...
147851    As part of the BMWFilms series  Powder Keg is ...
147852             lmao arnt following been years need that
147853                          procrastinating mine afraid
147854              really proud Japanese design going show
147855    What a beautiful story  Just incredible  I saw...
147856    There is a reason why the world forgot these c...
147857    An overblown melodrama typical of its period  ...
147858    Jean Harlow and Clark Gable do share chemistry...
147859    I couldn t believe my eyes once I ve watched t...
147860    pizza cravings mitchel fault with fancy pizza ...
Name: Text, dtype: object

In [242]:
sentiment_df["Text"] = sentiment_df["Text"].astype(str)

In [246]:
sentiment_df["Text"] = sentiment_df.Text.apply(lambda x: " ".join([w for w in x.split() if len(w) > 3]))

In [238]:
text = "whenever you come"
text.split()

['whenever', 'you', 'come']

In [247]:
sentiment_df.head()

                                                Text  Polarity
0  York police detective Mark Dixon Dana Andrews ...         1
1                    just having linear algebra quiz        -1
2  demanding something more than driver positions...         1
3  Righto Reading that have news afraid have chor...        -1
4  this Walt Disney produced comedy track coach D...         0

In [260]:
yelp_df = pd.read_csv("C:\Users\chidi bede\Documents\Data Science Career\Datasets\Text classification datasets\yelp.csv")

In [261]:
yelp_df = yelp_df.loc[:, ["stars", "text"]]

In [262]:
yelp_df.shape

(10000, 2)

In [264]:
yelp_df.stars.value_counts()

4    3526
5    3337
3    1461
2     927
1     749
Name: stars, dtype: int64

In [265]:
yelp_df["stars"] = yelp_df.stars.map({5: 5, 4:5, 3:0, 2:-1, 1:-1})

In [266]:
yelp_df.stars.value_counts()

 5    6863
-1    1676
 0    1461
Name: stars, dtype: int64

In [267]:
yelp_df["stars"] = yelp_df.stars.map({5: 1, 0:0, -1:-1})

In [268]:
yelp_df.stars.value_counts()

 1    6863
-1    1676
 0    1461
Name: stars, dtype: int64

In [269]:
yelp_df.head(200)

     stars                                               text
0        1  My wife took me here on my birthday for breakf...
1        1  I have no idea why some people give bad review...
2        1  love the gyro plate. Rice is so good and I als...
3        1  Rosie, Dakota, and I LOVE Chaparral Dog Park!!...
4        1  General Manager Scott Petello is a good egg!!!...
5        1  Quiessence is, simply put, beautiful.  Full wi...
6        1  Drop what you're doing and drive here. After I...
7        1  Luckily, I didn't have to travel far to make m...
8        1  Definitely come for Happy hour! Prices are ama...
9        1  Nobuo shows his unique talents with everything...
10       1  The oldish man who owns the store is as sweet ...
11       1  Wonderful Vietnamese sandwich shoppe. Their ba...
12       1  They have a limited time thing going on right ...
13       1  Good tattoo shop. Clean space, multiple artist...
14       1  I'm 2 weeks new to Phoenix. I looked up Irish ...
15      -1  Was it worth the 21$ for a salad and small piz...
16       0  We went here on a Saturday afternoon and this ...
17       1  okay this is the best place EVER! i grew up sh...
18       0  I met a friend for lunch yesterday. \r\n\r\nLo...
19       1  They've gotten better and better for me in the...
20       0  DVAP....\r\n\r\nYou have to go at least once i...
21       1  This place shouldn't even be reviewed - becaus...
22       1  first time my friend and I went there... it wa...
23      -1  U can go there n check the car out. If u wanna...
24       1  I love this place! I have been coming here for...
25       1  This place is great.  A nice little ole' fashi...
26       1  I love love LOVE this place. My boss (who is i...
27       1  Not that my review will mean much given the mo...
28       1  Came here for breakfast yesterday, it had been...
29       1  Always reliably good.  Great beer selection as...
..     ...                                                ...
170     -1  Rarely do I give a 1 star rating but after fou...
171      0  Service was good, however my fettucine alfredo...
172     -1  So, I went because of all the hype. Immediatel...
173      0  Ok, so I'm catching up on past-due reviews.  F...
174      1  Gils.. A relatively new business to the comple...
175      1    Good pizza. Nice and laid back. Good staff too.
176      1  The praise and worship with Pastor BJ just set...
177      1  I come here probably at least once a week. The...
178      1  I have only gotten the cafe sua da (iced coffe...
179      0  Only had a chance to experience the Oscuro (am...
180      1  Hippies scare me.     So in my preparation to ...
181      0  In addition to the nice atmosphere on the pati...
182      1  Man, do I LOVE a restaurant with REALLY GOOD f...
183      1  Great experience from start to finish.  Host (...
184      1  Great customer service, competitive rates, and...
185      1  We went to The Farm today for lunch to enjoy a...
186      1  Games- great.\r\nGame prices- decent.\r\nFood-...
187      1  I love the ambiance at Joe's Farm Grill.  It's...
188      1  Screw Disneyland- Sephora is the happiest plac...
189      1  I loved this little slice of heaven.  Reasonab...
190     -1  What a load of absolutely hideous, uninteresti...
191      1  Had the enchiladas - cheese and shredded beef ...
192      1  I found this place when we needed a place to m...
193      1  AZ-88 is at once chic, urban, fun, and just en...
194      0  Sugar bowl ice cream is yummy but what ice cre...
195      1  Great place for lunch, transport yourself back...
196     -1  My girlfriend liked this place more than I did...
197      0  Other then the chips and salsa (5 stars for sa...
198      1  Man, if these guys were trying to replicate a ...
199      1  Fun, with caps if I did that sort of thing. Th...

[200 rows x 2 columns]

In [271]:
yelp_df = yelp_df.loc[:, ["text", "stars"]]

In [273]:
yelp_df.columns = ["Text", "Polarity"]

In [274]:
yelp_df["Text"] = yelp_df.Text.str.replace(r"[^a-zA-Z]", " ")

In [276]:
yelp_df.head()

                                                Text  Polarity
0  My wife took me here on my birthday for breakf...         1
1  I have no idea why some people give bad review...         1
2  love the gyro plate  Rice is so good and I als...         1
3  Rosie  Dakota  and I LOVE Chaparral Dog Park  ...         1
4  General Manager Scott Petello is a good egg   ...         1

In [277]:
yelp_df["Text"] = yelp_df.Text.apply(lambda x: " ".join([w for w in x.split() if len(w) > 3]))

In [279]:
sentiment_df = pd.concat([sentiment_df, yelp_df])

In [280]:
sentiment_df.Polarity.value_counts()

 1    56260
 0    50968
-1    50633
Name: Polarity, dtype: int64

In [287]:
neg_text = pd.read_table("negative-words.txt")
neg_text = neg_text.loc[33:, :]

In [288]:
neg_text.columns = ["Text"]

In [290]:
neg_text.reset_index(drop=True, inplace=True)

In [297]:
for i in range(len(neg_text)):
    neg_text["Polarity"] = -1

In [299]:
neg_text2 = neg_text.loc[:, ["Text", "Polarity"]]

In [301]:
neg_text2.tail()

           Text  Polarity
4778       zaps        -1
4779     zealot        -1
4780    zealous        -1
4781  zealously        -1
4782     zombie        -1

In [304]:
neg_text2["Text"] = neg_text2.Text.apply(lambda x: x + " is a terrible nigger nigga bitch hate speech")

In [305]:
neg_text3 = neg_text.loc[:, ["Text", "Polarity"]]

In [306]:
neg_text3["Text"] = neg_text3.Text.apply(lambda x: x + " " + x + " killed died sad angry")

In [309]:
neg_text = pd.concat([neg_text, neg_text2, neg_text3])

In [310]:
neg_text.reset_index(drop=True, inplace=True)

In [311]:
 neg_text.shape

(14349, 2)

In [312]:
neg_text.head()

         Text  Polarity
0     2-faced        -1
1     2-faces        -1
2    abnormal        -1
3     abolish        -1
4  abominable        -1

In [313]:
neg_text.Polarity.value_counts()

-1    14349
Name: Polarity, dtype: int64

In [321]:
pos_text = pd.read_table("positive-words.txt", names=["Text"])

In [322]:
pos_text = pos_text.loc[34:, :]

In [325]:
pos_text.reset_index(drop=True, inplace=True)

In [326]:
for i in range(len(pos_text)):
    pos_text["Polarity"] = 1

In [329]:
pos_text.tail()

          Text  Polarity
2001  youthful         1
2002      zeal         1
2003    zenith         1
2004      zest         1
2005     zippy         1

In [330]:
pos_text2 = pos_text.loc[:, ["Text", "Polarity"]]

In [332]:
pos_text2["Text"] = pos_text2.Text.apply(lambda x: x + " is a wonderful excellent awesome competent")

In [333]:
pos_text3 = pos_text.loc[:, ["Text", "Polarity"]]
pos_text3["Text"] = pos_text3.Text.apply(lambda x: x + " " + x + " lived happy great")

In [337]:
pos_text3.shape

(2006, 2)

In [339]:
pos_text = pd.concat([pos_text, pos_text2, pos_text3])

In [340]:
pos_text.shape

(6018, 2)

In [341]:
pos_neg_text = pd.concat([pos_text, neg_text])

In [343]:
sentiment_df = pd.concat([sentiment_df, pos_neg_text])

In [344]:
sentiment_df.head()

                                                Text  Polarity
0  York police detective Mark Dixon Dana Andrews ...         1
1                    just having linear algebra quiz        -1
2  demanding something more than driver positions...         1
3  Righto Reading that have news afraid have chor...        -1
4  this Walt Disney produced comedy track coach D...         0

In [346]:
sentiment_df = utils.shuffle(sentiment_df)

In [347]:
sentiment_df.reset_index(drop=True, inplace=True)

In [348]:
sentiment_df.shape

(178228, 2)

In [349]:
sentiment_df.Polarity.value_counts()

-1    64982
 1    62278
 0    50968
Name: Polarity, dtype: int64

In [350]:
sentiment_df.head()

                                                Text  Polarity
0  wish have truly traumatic experience than this...        -1
1  Today would been pacemaker surgery Rescheduled...        -1
2         abbiieee anong pwede thesis topicssss haha        -1
3  trashy is a terrible nigger nigga bitch hate s...        -1
4       always gentleman went well fifth date Sunday         1

In [395]:
tweets = pd.read_csv("C:\Users\chidi bede\Documents\Data Science Career\Datasets\Text classification datasets\Tweets.csv")

In [396]:
tweets = tweets.loc[:, ["airline_sentiment", "text"]]

In [397]:
tweets = tweets.loc[:, ["text", "airline_sentiment"]]
tweets.columns = ["Text", "Polarity"]

In [399]:
tweets.Polarity.value_counts()

negative    9178
neutral     3099
positive    2363
Name: Polarity, dtype: int64

In [400]:
tweets["Text"] = tweets.Text.str.replace(r"@[\w]+", " ")
tweets["Text"] = tweets.Text.str.replace(r"[^a-zA-Z]", " ")
tweets["Text"] = tweets.Text.apply(lambda x: " ".join([w for w in x.split() if len(w) > 3]))

In [401]:
tweets["Polarity"] = tweets.Polarity.map({"negative": -1, "neutral": 0, "positive": 1})

In [403]:
tweets["Text"] = tweets.Text.str.replace(r"didn", "didn't")

In [404]:
tweets

                                                    Text  Polarity
0                                              What said         0
1                plus added commercials experience tacky         1
2          didn't today Must mean need take another trip         0
3      really aggressive blast obnoxious entertainmen...        -1
4                                     really thing about        -1
5      seriously would flight seats that didn't have ...        -1
6                       nearly every time this worm away         1
7      Really missed prime opportunity Without Hats p...         0
8                                            Well didn't         1
9                        amazing arrived hour early good         1
10     know that suicide second leading cause death a...         0
11     pretty graphics much better than minimal icono...         1
12     This such great deal Already thinking about tr...         1
13     flying your fabulous Seductive skies again tak...         1
14                                                Thanks         1
15                                        schedule still        -1
16     excited first cross country flight heard nothi...         1
17     flew from last week couldn fully seat large ge...        -1
18                                                flying         1
19     know what would amazingly awesome PLEASE want ...         1
20     your first fares over three times more than ot...        -1
21                        love this graphic http GrRwAaA         1
22               love hipster innovation feel good brand         1
23             will making stop permanently anytime soon         0
24     guys messed seating reserved seating with frie...        -1
25     status match program applied been three weeks ...        -1
26     What happened vegan food options least site kn...        -1
27                         miss worry together very soon         0
28     amazing that cold from vents noair worstflight...        -1
29     Middle seat Such noob maneuver sendambien andc...         0
...                                                  ...       ...
14610  understand weather issue expect passengers wai...        -1
14611                   guarantee retribution glad share         0
14612  friend having flight Cancelled Flightlations A...        -1
14613  used call back feature with operator regarding...        -1
14614  need work tomorrow therefore that doesn help D...        -1
14615  Dump luggage then Cancelled Flight flight more...        -1
14616  Cancelled Flights flight doesn send email text...        -1
14617                                       DMing thanks         1
14618  overweight pull dozen passengers luggage Serio...        -1
14619  love your company your staff amazing They just...         1
14620  wait call back cxld protection they hang minut...        -1
14621  been hold mins about Cancelled Flighted intern...        -1
14622  just need place sleep when land without accomm...        -1
14623  Love planes Maybe will where amenities functio...         1
14624  Call Chairman call Emerald After what today ca...        -1
14625  Flight great Fantastic cabin crew landing than...         1
14626  Flight Buenos Aires been delay since yesterday...        -1
14627  Flight Cancelled Flightled home until tomorrow...        -1
14628  Thank Customer Relations will review your conc...         1
14629  change flight phone system keeps telling that ...        -1
14630                                             Thanks         1
14631  nothing getting country back Broken plane Come...        -1
14632  George that doesn look good Please follow this...         0
14633  flight Cancelled Flightled leaving tomorrow mo...        -1
14634                                  right with delays        -1
14635                     thank different flight Chicago         1
14636  leaving over minutes Late Flight warnings comm...        -1
14637          Please bring American Airlines BlackBerry         0
14638  have money change flight answer your phones ot...        -1
14639  have need know many seats next flight standby ...         0

[14640 rows x 2 columns]

In [405]:
sentiment_df = pd.concat([sentiment_df, tweets])

In [406]:
sentiment_df.Polarity.value_counts()

-1    74160
 1    64641
 0    54067
Name: Polarity, dtype: int64

In [409]:
twitter_pos = twitter_df[twitter_df.Polarity==1].loc[500000:520000, ["Text","Polarity"]]

In [411]:
sentiment_df = pd.concat([sentiment_df, twitter_pos])

In [412]:
sentiment_df.Polarity.value_counts()

 1    74666
-1    74160
 0    54067
Name: Polarity, dtype: int64

In [413]:
sentiment_df = utils.shuffle(sentiment_df)

In [414]:
sentiment_df.reset_index(drop=True, inplace=True)

In [415]:
sentiment_df

                                                     Text  Polarity
0       What said about movie about cross dressing gan...        -1
1       independent indie film might Black White Toile...         0
2       Having missed Project Greenlight movie Stolen ...         0
3       Anne Parillaud phenomenal terrifyingly vulnera...         0
4       part while other happy know what want what fee...        -1
5       after arriving flight scheduled depart doors c...        -1
6                             shower vote tweet life good         1
7       first most this movie sucks about minutes funn...         0
8              pins needles dizzy going down before faint        -1
9       misfortune seeing movie SciFi channel just day...         0
10      Warner Bros made many potboilers most them fas...        -1
11      This month April Turner Classic Movies introdu...         0
12                                                 adroit         1
13      Lust Caution picture power tremendous forces t...         0
14      Dear Lord think living History taught fuck has...        -1
15                   just woke from smell lentils cooking         1
16                detracts detracts killed died sad angry        -1
17      Dark Angel futuristic series post apocalyptic ...         1
18      first sight Bothersome seems like several othe...         1
19      House Alone belongs cable days when networks w...         1
20                      pinch pinch killed died sad angry        -1
21      Well didn choose wisely when rented this movie...         0
22                            recovery kind missing arrgh        -1
23      This work pure sounds visual beauty global hea...         0
24                    so-cal so-cal killed died sad angry        -1
25      other bored chose movie movie that started nea...         0
26      sorry guys uploading just taking long gonna re...        -1
27      When will allowed makeup Congratulations your ...         1
28      This exploration unique decade cinema begins w...         1
29      incompetent rude service today Missed connecti...        -1
...                                                   ...       ...
202863  sounds interesting bother Jean Reno plays Fren...         0
202864                                         standstill        -1
202865  Well guess know answer that question MONEY hav...        -1
202866                      fiery fiery lived happy great         1
202867  have read just about Kathy Lette books they fa...         0
202868  hard rate this place because little down groom...         1
202869               just home already miss comeback babe        -1
202870  Breakfast Club good find blueberry pancakes su...         1
202871  This movie should have been billed three movie...        -1
202872  This mini series actually more entertaining th...        -1
202873      looking forward working with father next week        -1
202874  gate agent only updates hours hinted abandonme...        -1
202875  hahahaha This crazy Well here another night ai...        -1
202876                                            chelsea         1
202877  deserving is a wonderful excellent awesome com...         1
202878  Yogi great place grab quick fairly cheap meal ...         0
202879  very hapy that daniel comes home today been go...         1
202880  Emissary Deep Space Nine pilot episode either ...         0
202881                hissed hissed killed died sad angry        -1
202882  oops TRYING awwww would LOVE where absolutely ...         1
202883  GOOD acting were great especially Terrence How...        -1
202884  needed refund Cancelled Flightled flights this...        -1
202885                    come with outside whenever free         1
202886  hour version Choker Bali cannot that long movi...         1
202887  Well were start This worst films ever paid goo...        -1
202888  Crazy Like deeply flawed film that nonetheless...         0
202889  share your awesome hotel room view your fans t...         1
202890  This very worst movie Peter Sellers ever think...        -1
202891                                              fraud        -1
202892                          busy signal after ringing        -1

[202893 rows x 2 columns]

In [416]:
sentiment_df.to_csv("complete_sentiment_training_data.csv")

In [417]:
sentiment_df.shape

(202893, 2)